@media (max-width: 769px) {
    body {
        background-image: url('../img/liquid.jpg');
        background-position: center;
    }

    .wrapper {
        background-color: #9a080800;
    }

    .header {
        border: 2px solid rgb(255, 255, 255);
        color: white;
    }

    .star {
        display: none;
    } 

    .white-star {
        width: 30px;
    }

    .main-image {
        border: 2px solid white;
    }

    .main-info {
        color: white;
        text-shadow: 5px 5px 10px #4e1d1d4c;
        border: 2px solid white;
    }

    .wire {
        display: none;
    }

    .add-image {
        background-image: url('../img/plus-white.png');
    }
       
    .add-image:hover {
        background-color: white;
    }
}