@media (min-width: 769px) {
    body {
        background-image: url('../img/röd-brudslöja.avif');
        background-position: center;
    }

    .wrapper {
        background-color: #9a080800;
    }

    .header {
        border: 2px solid white;
        color: white;
        text-shadow: 5px 5px 10px #4e1d1d4c;
    }

    .star {
        display: none;
    } 

    .white-star {
        width: 30px;
    }

    .main-image {
        border: 2px solid white;
    }

    .main-image-overlay {
        /* background-image: url('../img/cherry.png');
        /* filter: drop-shadow(-5px 30px 8px #3b138b90); */
        /* background-size: 400px;
        background-position: center; */ 
    }

    .main-info {
        color: white;
        text-shadow: 5px 5px 10px #4e1d1d4c;
        border: 2px solid white;
    }

    .day {
        font-size: 30px;
    }

    .year {
        font-size: 35px;
        text-align: center;
    }

    .wire {
        display: none;
    }

    .image-gallery {
        grid-template-columns: repeat(3, 1fr); /* 3 kolumner */
    }

    .add-image {
        background-image: url('../img/plus-gul.png');
    }
       
    .add-image:hover {
        background-color: white;
    }
}